[Setup neovim]
# This is a comment
id = ""
script = ""
run_on_failure = ""
continue_on_failure = ""
depends_on = ""
skip_if_dependency_fails = ""
        
[Install Packer]
script = ""
run_on_failure = ""
continue_on_failure = ""
depends_on = "" # Takes in id from another step
skip_if_dependency_fails = ""
